<section>
  <header>
    <ngx-spinner loadingText="Loading Please wait"></ngx-spinner>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div
            class="header-container d-flex justify-content-center align-items-center"
          >
            <div class="header-logo">
              <a routerLink="/corporatives">
                <img
                  src="https://res.cloudinary.com/dotvhpvra/image/upload/v1563992181/riby-logo_cbrqdr.png"
                  alt="riby logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="discovery-single" *ngIf="!isLoading">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
          <div class="dcy-breadcrumb">
            <a href="/investments">Back to Investments</a>

            <a
              ><span>{{ investment.name }}</span></a
            >
          </div>
        </div>
      </div>
      <div class="products-single">
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <div class="product-full-description mt-0">
                  <div class="summary">
                    <div class="row">
                      <div class="col-sm-3">
                        <h5>About this Loan</h5>
                      </div>
                      <div class="col-sm-9">
                        <p>
                          {{ investment.description }}
                        </p>
                        <!-- <span>Read more...</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="product-single-farming-stage">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-3">
                        <h5>Available Loan options</h5>
                      </div>
                      <div
                        class="col-sm-12 col-md-12 col-lg-9"
                        *ngIf="
                          cooperative_loans === undefined ||
                            cooperative_loans.length === 0;
                          else isAvailable
                        "
                      >
                        <div class="row">
                          <div class="col-sm-12">
                            <p>This coopeartive doesn't have any loans yet!</p>
                          </div>
                        </div>
                      </div>

                      <ng-template #isAvailable>
                        <div class="col-sm-12">
                          <div class="row">
                            <div
                              class="col-sm-12 col-md-12 col-lg-6"
                              *ngFor="let loans of cooperative_loans"
                            >
                              <a [routerLink]="['/loans', loans.id]">
                                <div class="dcy-list-item dcy-card">
                                  <div class="savings-card">
                                    <h6>{{ loans.name }}</h6>
                                    <div class="name-title">
                                      <span class="name-logo">FI</span>
                                      <span class="name">{{
                                        loans.owner_name
                                      }}</span>
                                    </div>
                                  </div>
                                  <div class="dcy-list-item__body">
                                    <div class="corporative-info">
                                      <div class="corporative-info__children">
                                        <div
                                          class="d-flex justify-content-between align-items-center"
                                        >
                                          <h6>Start date</h6>
                                          <span>{{
                                            loans.start_date
                                              | amFromUtc
                                              | amParse: "DD/MM"
                                              | amDateFormat: "LL"
                                          }}</span>
                                        </div>
                                        <div
                                          class="d-flex justify-content-between align-items-center savings-tp"
                                        >
                                          <h6>End date</h6>
                                          <span>{{
                                            loans.start_date
                                              | amFromUtc
                                              | amParse: "DD/MM"
                                              | amDateFormat: "LL"
                                          }}</span>
                                        </div>
                                        <div
                                          class="d-flex justify-content-between align-items-center savings-tp"
                                        >
                                          <h6>Interest Rate</h6>
                                          <span>%{{loans.interest_rate}}</span>
                                        </div>
                                      
                                        <div
                                          class="d-flex justify-content-between align-items-center savings-tp"
                                        >
                                          <h6>Amount</h6>
                                          <span>N{{ loans.min_amount - loans.max_amount}}</span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <div class="footer">
                    <div class="row">
                      <div class="col-sm-4">
                        <h6>Got any questions?</h6>
                      </div>
                      <div class="col-sm-4">
                        <button>Contact Support</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="is-warning">
              <p>
                You’ll have to sign up with the cooperative to access this
                investment plan.
              </p>
              <button (click)="showModal()">Sign me up</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="other-products">
            <div class="row">
              <div
                class="col-sm-12 d-flex justify-content-between align-items-center"
              >
                <h6>Also by Cooperative</h6>
                <a
                  *ngIf="cooperative_investments"
                  [routerLink]="['/cooperative', cooperative_id, 'investments']"
                  class="view-more-link"
                  >view all investments</a
                >
              </div>
            </div>
            <div class="row">
              <div
                class="col-sm-12 col-md-6 col-lg-3"
                *ngFor="let investments of cooperative_investments"
              >
                <a [routerLink]="['/investments', investments.id]">
                  <div class="dcy-list-item dcy-card">
                    <div class="savings-card">
                      <h6>{{ investments.name }}</h6>
                      <div class="name-title">
                        <span class="name-logo"></span>
                        <!-- <span class="name">Fisherman Cooperative Society</span> -->
                      </div>
                    </div>
                    <div class="dcy-list-item__body">
                      <div class="corporative-info">
                        <div class="corporative-info__children">
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <h6>Start date</h6>
                            <span>{{
                              investments.start_date
                                | amFromUtc
                                | amParse: "DD/MM"
                                | amDateFormat: "LL"
                            }}</span>
                          </div>
                          <div
                            class="d-flex justify-content-between align-items-center savings-tp"
                          >
                            <h6>End date</h6>
                            <span>{{
                              investments.end_date
                                | amFromUtc
                                | amParse: "DD/MM"
                                | amDateFormat: "LL"
                            }}</span>
                          </div>
                          <div
                            class="d-flex justify-content-between align-items-center savings-tp"
                          >
                            <h6>Frequency</h6>
                            <span>{{ investments.frequency }}</span>
                          </div>

                          <div
                            class="d-flex justify-content-between align-items-center savings-tp"
                          >
                            <h6>Min amount to invest</h6>
                            <span>{{ investments.amount_value }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<div class="modal-overlay" *ngIf="isModalVisible">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="auth-modal-content">
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <img
                src="https://res.cloudinary.com/dotvhpvra/image/upload/v1563993305/cancel_uvgikz.png"
                class="close-btn"
                (click)="closeModal()"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div
                class="auth-modal-content-images d-flex justify-content-center align-items-center"
              >
                <img
                  src="https://res.cloudinary.com/dotvhpvra/image/upload/v1563993129/Screenshot_2019-06-26_at_8.24.56_AM_vyya8v.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="col-sm-8">
              <div class="ready-state">
                <h4>Fill the form below to join cooperative.name</h4>
                <form (ngSubmit)="onSubmit(requestForm)" #requestForm="ngForm">
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="First name"
                      [(ngModel)]="user.first_name"
                      name="first_name"
                      id="first_name"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Last name"
                      [(ngModel)]="user.last_name"
                      name="last_name"
                      id="last_name"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      placeholder="Phone number"
                      [(ngModel)]="user.phone_number"
                      name="phone_number"
                      id="phone_number"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      placeholder="Email Address"
                      [(ngModel)]="user.email"
                      name="email"
                      id="email"
                    />
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="custom-control custom-radio">
                          <input
                            id="male"
                            type="radio"
                            class="custom-control-input"
                            value="male"
                            name="gender"
                            [(ngModel)]="user.gender"
                          />
                          <label class="custom-control-label" for="male"
                            >Male</label
                          >
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-radio">
                          <input
                            id="female"
                            type="radio"
                            class="custom-control-input"
                            value="female"
                            name="gender"
                            [(ngModel)]="user.gender"
                          />
                          <label class="custom-control-label" for="female"
                            >Female</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      type="date"
                      placeholder="date of birth"
                      [(ngModel)]="user.dob"
                      name="dob"
                      id="dob"
                    />
                  </div>
                  <button class="btn btn__red modal_btn" [disabled]="isLoading">
                    {{ isLoading ? "signing up..." : "Join cooperative" }}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
