body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
span,
p,
em,
button {
  font-family: "Poppins", sans-serif;
}
/** LANDING PAGE STYLES **/
.masthead {
  width: 100%;
  background: #fff;
}
.logo-header {
  padding-top: 35px;
}
.logo img {
  height: 34px;
}
.masthead-content_body {
  margin-top: 48px;
}
.masthead .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.8px;
  color: #0b213c;
  width: 359px;
}
.masthead .subtitle {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.8px;
  color: #0b213c;
  margin-top:20px;
}
.button {
  display: block;
  margin-top: 45px;
  padding: 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e22424;
  border-radius: 4px;
  color: #fff;
  width: 300px;
  margin-left:100px;
}
a:hover {
  text-decoration: none;
  color:#fff;
}
.mg_top-lg{
  top:130px;
}

.about-discovery {
  background-color: #fff;
  margin-top: 50px;
  padding-bottom: 30px;
}
.about-discovery__card {
  margin-top: 15px;
  padding:20px;
}
.about-discovery__image {
  height: 200px;
}
.about-discovery__image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.about-discovery__details h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 7px;
  margin-top: 15px;
}

.about-discovery__details p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #85909d;
}

.about-discovery__action a {
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ef4545;
  display: block;
  width: 300px;
}
.about-discovery__action a:hover {
  text-decoration: none;
}
.about-discovery__action a:after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  margin-top: 10px;
  background-color: #ef4545;
}

.loan-action a:after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  margin-top: 10px;
  background-color: #ef4545;
}
.landing-page_footer {
  background: #0b213c;
  padding: 30px 0;
}
.landing-page_footer p {
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  color: #ffffff;
}

/** HEADER STYLES STARTS HERE **/
header {
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.header-container {
  width: 100%;
  align-items: center;
  height: 56px;
}
.header-logo img {
  width: 89px;
  height: 32px;
}
.header-menu {
  margin-left: auto;
  margin-right: auto;
}
.header-menu a {
  padding-left: 50px;
  font-size: 16px;
  color: #85909d;
}
.header-menu a:first-child {
  padding-left: 0;
}
.header-menu a:active {
  color: #ef4545;
}
.header-menu .active {
  color: #ef4545;
}
.header-menu .active:after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ef4545;
  border-radius: 100px 100px 0px 0px;
}
.header-menu a:hover {
  text-decoration: none;
}
.header-user {
  display: flex;
  width: 180px;
  justify-content: space-between;
}
.header-user__notification {
  background-color: #9dc9ff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.is-notified {
  position: absolute;
  top: -3px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #ef4545;
  border-radius: 100%;
}
.header-user__info {
  display: flex;
  cursor: pointer;
}
.header-user__info p {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}
.header-user__info img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}
/** HEADER STYLES ENDS HERE **/

/** DISCOVERY CONTAINER STYLES STARTS HERE **/
.discovery-container {
  background-color: #f1f2f6;
  padding: 60px 0;
}
.discovery-single {
  background-color: #f1f2f6;
  padding: 20px;
}
.discovery-content {
  margin-top: 34px;
}
.discovery-content a {
  text-decoration: none;
  color: #000;
}
.dcy-util-text {
  color: #353535;
  font-size: 24px;
  font-weight: bold;
}
.dcy-util-text__light {
  opacity: 0.5;
  font-weight: normal;
}
.dcy-sort-text__light {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #c3c3c3;
  margin-right: 13px;
}
.dcy-sort select {
  background-color: #f5f6f7;
  width: 130px;
  height: 35px;
  border: 1px solid rgba(133, 144, 157, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  color: #0b213c;
  font-size: 12px;
}

.dcy-list-item {
  width: 100%;
  margin-top: 15px;
}
.dcy-card {
  background-color: #fff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.savings-card {
  padding: 16px 15px;
  border-bottom: 1px solid #eaeaea;
}
.savings-card .name-title .name {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;

  color: #4a90e2;
}
.savings-tp{
  margin-top:16px;
}
.savings-card .name-title {
  margin-left: 0px !important;
}
.savings-card .name-logo{
  background: rgba(74, 144, 226, 0.16) !important;
}
.dcy-list-item__header {
  width: 100%;
  height: 146px;
  position: relative;
}
.dcy-list-item__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.dcy-list-item__overlay {
  position: absolute;
  width: 100%;
  height: 146px;
  background: linear-gradient(
    180deg,
    rgba(53, 53, 53, 0) -19.03%,
    rgba(17, 17, 17, 0.5) 80.97%
  );
  top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dcy-list-item__overlay .name-title,
.savings-card .name-title {
  display: flex;
  margin-top: 21px;
  margin-left: 15px;
}
.dcy-list-item__overlay .name-logo,
.savings-card .name-logo {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #0b213c;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}
.dcy-list-item__overlay .name,
.savings-card .name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.dcy-list-item__body {
  margin-top: 16px;
  padding: 15px;
}
.dcy-list-item__body .title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}
.dcy-list-item__body span {
  font-weight: 600;
  font-size: 12px;
}
.farming-stage {
  margin-top: 21px;
  margin-bottom: 24px;
}
.farming-stage__children {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.farming-stage__progress {
  background: rgba(94, 173, 42, 0.17);
  border-radius: 10px;
  width: 100%;
  height: 8px;
}
.progress-count {
  background: #5ead2a;
  border-radius: 10px;
  width: 60%;
  height: 8px;
}
.corporative-info {
}
.corporative-info__children {
}
.corporative-info__children h6 {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #85909d;
  margin-bottom: 3.5px;
}
.corporative-info__children h6 span {
  color: #0b213c;
}
.dcy-card-footer {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  padding: 13px;
}
.card-footer__items {
  width: 100%;
  display: flex;
}

.card-footer__items-circle {
  background: rgba(11, 33, 60, 0.04);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bookmark {
  margin-right: 13px;
}

/** PAGINATION STYLES **/
.pagination-bar {
  margin-top: 54.5px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.pagination-bar-btn {
  background-color: #fff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.page-counter {
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.counter {
  margin-left: 5px;
  margin-right: 5px;
  width: 60%;
}
.counter span {
  font-size: 14px;
  line-height: 21px;
  color: #757575;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
}
.auth-modal-content {
  background-color: white;
  padding: 50px 20px;
  display: flex;
  margin-top: 40%;
}
.auth-modal-content-images img {
  width: 100%;
}
.ready-state {
  flex: 2;
}
.ready-state h4 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.914286px;
  color: #0b213c;
}

.btn {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.modal_btn {
  padding: 13px 0;
  font-size: 13px;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}
.btn__red {
  background: #e22424;
}
.ready-state p {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.8px;
  color: rgba(11, 33, 60, 0.5);
}

.ready-state span {
  color: #0b213c;
}
.ready-state span {
  font-size: 14px;
}
.ready-state a:last-child {
  font-size: 14px;
  line-height: 21px;
}

/** Form in modal styles **/
input {
  background: #f4f6f8;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  padding: 16px 8px;
  width: 100%;
  outline: none;
}

input::placeholder {
  color: #bbbbbb;
  font-size: 15px;
}

/** DISCOVERY SINGLE PAGE STYLES **/
.dcy-breadcrumb {
  display: flex;
}
.dcy-breadcrumb a {
  font-size: 14px;
  line-height: 21px;
  color: #637381;
  padding: 10px;
}
.dcy .dcy-breadcrumb a::after {
  content: "";
  display: block;
}

.products-single-short {
  background-color: #fff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.product-single-short-desc {
  padding-top: 32px;
}
.products-single-short img {
  width: 100%;
}
.short-desc-icon {
  background: #e8e9ec;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-single-short-desc h6 {
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #637381;
}

.product-single-short-desc p {
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;

  color: #000000;
}

.product-full-description {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  margin-top: 19px;
  padding: 34px 29px;
}
.summary {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
.product-single-farming-stage .footer {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
.summary h5,
.product-single-farming-stage h5,
.product-full-description h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #85909d;
}
.product-full-description .footer {
  margin-top: 66px;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  padding-top: 21px;
}
.product-full-description .footer button {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #979797;
  padding: 9px 44px;
}
.product-full-description .footer button:focus {
  outline: none;
}
.summary p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.summary span {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #4a90e2;
  cursor: pointer;
}

.product-single-farming-stage {
  padding-top: 47px;
}
.product-single-farming_card {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 11px;
}
.product-single-farming_card h6 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.product-single-farming_card p {
  font-size: 12px;
  line-height: 18px;
  color: #85909d;
}
.product-single-farming-details {
  margin-left: 15px;
}
.check {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2b700b;
}
.is-checked {
  background: #2b700b;
}

.other-products {
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  margin-top: 19px;
  padding: 22px 37px;
}
.other-products a {
  color: #000;
}
.other-products h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #85909d;
}
.is-warning {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 28px 32px;
}
.payment-form {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.payment-form form {
  padding: 25px 32px;
  border-bottom: 1px solid #e5e5e5;
}
.payment-form form h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0b213c;
  margin-bottom: 26px;
}
.make-offer-input-group {
  position: relative;
}
.make-offer-input-group .measurement {
  position: absolute;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  top: 15px;
  right: 19px;
}

.make-offer-input-group .move-left {
  position: absolute;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  top: 15px;
  left: 13px;
}
.from-left {
  padding-left: 50px;
  z-index: 1;
}

.make-offer-input-group .measurement:before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #757575;
  position: absolute;
  top: 2px;
  right: 44px;
}

.make-offer-input-group .move-left:before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #757575;
  position: absolute;
  top: 2px;
  left: 25px;
}
.make-offer-input-group button,
.is-warning button {
  background: #e22424;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 13px 0;
  color: #fff;
  font-size: 16px;
}
.is-warning a{
  display:block;
  background: #e22424;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 13px 0;
  color: #fff;
  font-size: 16px;
  text-align:center;
}

.make-offer-footer {
  display: flex;
  align-items: center;
  padding: 20px;
}
.make-offer-tip {
  width: 30px;
  height: 24px;
  border-radius: 100%;
  background: rgba(242, 171, 62, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.make-offer-footer p {
  font-size: 12px;
  line-height: 16px;
  color: #353535;
  padding-left: 20px;
}
.is-warning p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
