<section>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6 text-center">
        <img src="https://res.cloudinary.com/dotvhpvra/image/upload/v1563993129/Screenshot_2019-06-26_at_8.24.56_AM_vyya8v.png" />
        <div class='details'>
          <h2>Ooops!, Page not found</h2>
          <p>The page you are looking for doesn't exist</p>
          <a [routerLink]="['/corporatives']">View all Cooperatives</a>
        </div>
      </div>
    </div>
  </div>
</section>