<section>
  <section class="masthead">
    <div class="container">
      <div class="logo-header">
        <div class="row">
          <div class="col-sm-12">
            <a routerLink="" class="logo">
              <img src="../assets/images/riby-logo.png" alt="riby logo" />
            </a>
          </div>
        </div>
      </div>
      <div class="masthead-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="masthead-content_body">
              <h1 class="title">Save. Borrow. Invest.</h1>
              <p class="subtitle">
                Join Riby Discovery now to sign up for cooperatives, invest in
                cooperatives and grow your finances!
              </p>
             
            </div>
          </div>
          <div class="col-sm-6 mg_top-lg">
            <a routerLink="/discovery" class="button">Browse Discovery</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about-discovery">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-4">
          <div class="about-discovery__card">
            <div class="about-discovery__image">
              <img
                src="https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                alt=""
              />
            </div>
            <div class="about-discovery__details">
              <h4>Cooperatives</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa.
              </p>
            </div>
            <div class="about-discovery__action">
              <a routerLink="/corporatives">Discover cooperatives to join</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4">
          <div class="about-discovery__card">
            <div class="about-discovery__image">
              <img
                src="../assets/images/loans.png"
                alt=""
              />
            </div>
            <div class="about-discovery__details">
              <h4>Loans</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa.
              </p>
            </div>
            <div class="about-discovery__action loan-action">
              <a routerLink="/loans">Find loans options</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4">
          <div class="about-discovery__card">
            <div class="about-discovery__image">
              <img
                src="https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                alt=""
              />
            </div>
            <div class="about-discovery__details">
              <h4>Investment </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa.
              </p>
            </div>
            <div class="about-discovery__action">
              <a routerLink="/investments">Find and invest in farms</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="landing-page_footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>&copy; 2019 Riby</p>
        </div>
      </div>
    </div>
  </footer>
</section>